body{
    background-color: white;;
}

.bio__interests {
    display: flex;
    flex-wrap: wrap;  /* Let the rows wrap if there are too many */
    justify-content: space-evenly;
}
.interest {
    flex-basis: 30%;
    border: 1px dotted crimson;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
}